<div id="<%= dom_id dictio %>">
  <p>
    <strong>User:</strong>
    <%= dictio.user_id %>
  </p>

  <p>
    <strong>Disc:</strong>
    <%= dictio.disc %>
  </p>

  <p>
    <strong>Env:</strong>
    <%= dictio.env %>
  </p>

  <p>
    <strong>Levelise:</strong>
    <%= dictio.levelise %>
  </p>

  <p>
    <strong>Goal:</strong>
    <%= dictio.goal %>
  </p>

  <p>
    <strong>Rate:</strong>
    <%= dictio.rate %>
  </p>

</div>
