<div id="<%= dom_id concepter %>">
  <p>
    <strong>Title:</strong>
    <%= concepter.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= concepter.body %>
  </p>

  <p>
    <strong>Info:</strong>
    <%= concepter.info %>
  </p>

  <p>
    <strong>Path:</strong>
    <%= concepter.path %>
  </p>

  <p>
    <strong>Info:</strong>
    <%= concepter.info %>
  </p>

</div>
