<div id="<%= dom_id quantify %>">
  <p>
    <strong>Title:</strong>
    <%= quantify.title %>
  </p>

  <p>
    <strong>User:</strong>
    <%= quantify.user_id %>
  </p>

  <p>
    <strong>Disc:</strong>
    <%= quantify.disc %>
  </p>

  <p>
    <strong>Levelisenum:</strong>
    <%= quantify.leveliseNum %>
  </p>

  <p>
    <strong>Goalnum:</strong>
    <%= quantify.goalNum %>
  </p>

  <p>
    <strong>Ratenum:</strong>
    <%= quantify.rateNum %>
  </p>

</div>
